html{
	background-color: #222;
	color: #f9f9f9;
	font-family: sans-serif;
	padding: 0;
}

body{
	padding: 0;
	margin: 0;
}

td{	
	width: auto;
	margin: 0;
	padding: 0;
	border: thin solid #444;
	background-color: #333;	
}

tr{
	margin:0;
	border: thin solid #444;
}

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    background-color: #111; 
}
 
::-webkit-scrollbar-thumb {
	background-color: #333; 
}

.page-container{
	padding-bottom: 250px;
	padding-top: 50px;
	
}

.asset-list-container{
	width: 100%;
	height: 100%;
	background-color: #333;	
}

.asset-edit-container{
	width: 30%;
	background-color: #444;
	height: 100%;
}

.asset-row{
	width:auto;
}

.asset-list-table{
	width: 100%;
}

.asset-group-table{
	width:100%;3
	border-collapse: collapse;
}

.asset-field-column{
	width: 99%;
}

.asset-field{
	padding: 0;
}

input{
	background-color: #333;
	border: none;
	padding: 5px;
	color: #f9f9f9;
}

.asset-field-header{
	padding: 5px;
	background-color: #ddd;
	color: #222;
}

.assess-app{
	height: 100%;
}

.asset-group{
	margin: 10px;
}

.asset-type-title{
	background-color: #FF582D;
	color: #f9f9f9;
	padding: 5px;
	margin-top: 30px;
	display: block;
	font-weight: bold;
}

.assess-tab-nav-table{
	background-color: #222;
}

.assess-tab-nav-row{

}

.assess-tab-nav{
	background-color: #111;
	width: 100%;
	position: fixed;
	z-index: 1000;
}

.assess-tab-nav-col{
	padding: 10px;
	border: none;
	background-color: #111;
	width: 100px;
	border-top: none;
	border-top: solid medium #111
}

.assess-tab-nav-col.selected{
	background-color: #222;
	border-top: solid medium #FF582D
}

.assess-tab-nav-col.selected>.assess-tab-nav-label{
	color: #f9f9f9;
}

.assess-tab-nav-label{
	color: #aaa;
	padding: 10px;
	cursor: default;
	font-size: 9pt;
}

.hidden{
	display: none;
}

.new-asset-btn{
	float: right;
}

button{
	color: #f9f9f9;
	background-color: #FF582D;
	border:none;
}

input[type="text"] {
     width: 100%; 
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}

.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

html{
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}



.indent{
	margin-left: 10px;
}

.indent-double{
	margin-left: 20px;
}


/* Assess Schema Begin*/

.assess-schema{
	padding: 5px;
}

/* Assess Schema End*/

/* Object Renderer Begin */

.assess-object-renderer{
	white-space: nowrap;
}

.assess-object-renderer .add-new-btn{
	margin: 3px;
}

.assess-object-renderer input[type="text"] {
	width:100px;
	display: inline-block;
	background-color: #222;
}

.assess-object-renderer input[type="text"]:focus {
	background-color: #333;
}

.assess-object-renderer .field-name{
}

.assess-object-renderer .fields{
	border-left: thin dashed #333; 
}

.assess-object-renderer .field-value{
	display: inline-block;
}

.assess-object-renderer .toggle-collapse{
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	width: 50px;
	height: 50px;
	color: #FF582D; 
	margin-left: -4px;
}

.assess-object-renderer .new-popout-btn {
	cursor: pointer;
	color: #666; 
	font-weight: 100;
	font-size: 9pt;
}

.assess-object-renderer .new-popout-btn:hover{
	color: #888; 
}

.assess-object-renderer .new-popout-btn:active {
	color: #444; 
}

.assess-object-renderer .delete-property{
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	width: 50px;
	height: 50px;
	color: #FF582D; 
}

.assess-object-renderer .edit-btn{
	position:absolute;
	left: 0;
	top: auto;
}

.assess-object-renderer .static-field-name{
	font-size: 9pt;
	color: #aaa;
}

/* Object Renderer End*/

/* Popup Begin */

.assess-popup{
	position: relative;
	display: inline-block;
}

.assess-popup .options{
	background-color: #333;
	color: #f9f9f9;
	font-size: 9pt;
	display: inline-block;
	position: absolute;
	bottom: 30px;
	cursor: pointer;
	border: thin solid #444;
}

.assess-popup .option{
	padding: 3px;
	padding-left: 8px;
	padding-right: 8px;
}

.assess-popup .option:hover{
	background-color: #FF582D;
}

.assess-popup .option:active{
	background-color: #E52D00;
}

.assess-popup .toggle-btn {
	cursor: pointer;
	color: #666; 
	font-weight: 100;
	font-size: 9pt;
	width: 25px;
	height: 25px;
	margin-left: -4px;
}

.assess-popup .toggle-btn:hover{
	color: #888; 
}

/* Popup End */

/* Console Begin */

.assess-console{
	width: 100%;
	overflow-y: scroll;
	position: fixed;
	bottom: 0;
	height: 200px;
	background-color: #222;
	border: thin solid #444;
	display: inline-block;
	z-index: 1000;
	font-size: 10pt;
}

.assess-console .line{
	margin: 5px;
	color: #666;
	display: inline-block;
}

.assess-console .line.error{
	color: #DE4E35;
}

.assess-console .resize-handle{
	height: 10px;
	width: 100%;
	cursor: ns-resize; 
	position: fixed;
}

.assess-console .resize-handle:active{
	cursor: ns-resize;
}

.assess-console .message-container{	
	padding-top: 10px;
}


/* Console End */ 