<div class="assess-loaders">
<div class="toolbar">
		<div class="button" (click)="newLoader()">
			<span><i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;&nbsp;New</span>
		</div>
		<div class="button" (click)="saveLoader()">
			<span><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;Save</span>
		</div>
	</div>
	<table class="container">
		<tr>
			<td class="sidebar-container">	
				<div class="sidebar-loader text-button" [ngClass]="{focused: loaderName == _currentLoader}" *ngFor="let loaderName of _sortedLoaders" (click)="openLoader(loaderName)">
					<input type="text" value="{{loaderName}}" (change)="updateLoaderName(loaderName, $event)"/>
				</div>
			</td>
			<td>
				<div class="code-editor-container">
					<assess-code-editor (codeChange)="updateLoader($event)"></assess-code-editor>	
				</div>
			</td>
		</tr>
	</table>


</div>