<div class="assess-app">
	<assess-tab-nav [tabs]="mainNavTabs"></assess-tab-nav>
	<div class="page-container">
		<div *ngIf="currentMode == MODES.ASSETS">
			<div *ngFor="let groupName of _assetService.getAssetGroupNames()">
				<assess-asset-group [assetGroupName]="groupName" [assetGroup]="_assetService.assetGroups[groupName]" class="asset-list-container"></assess-asset-group>
			</div>
		</div>
		<div *ngIf="currentMode == MODES.SCHEMA">
			<assess-schema [schemaObject]="_assetService.schema.rawObject"></assess-schema>
		</div>
		<div *ngIf="currentMode == MODES.STRUCTURE">
			<assess-structure [structure]="_assetService.schema.structureObject"></assess-structure>
		</div>
		<div *ngIf="currentMode == MODES.LOADERS">
			<assess-loaders [loaders]="_projectService.currentProject.loaders"></assess-loaders>
		</div>
	</div>
	<assess-console></assess-console>
</div>