<div class="indent-double assess-object-renderer"> 
	<assess-popup [icon]="'fa-cog'" *ngIf="isRootElement" [options]="getOptionsForRoot()"></assess-popup>
	<span class="toggle-collapse" *ngIf="collapsed" (click)="toggleCollapse()">
		<i class="fa fa-caret-right" aria-hidden="true"></i>
	</span>
	<span class="toggle-collapse" *ngIf="!collapsed" (click)="toggleCollapse()">
		<i class="fa fa-caret-down" aria-hidden="true"></i>
	</span>
	<div *ngIf="isRootElement" >
		<span *ngIf="isArray(object)" class="curly-bracket">[</span>
		<span *ngIf="isObject(object)" class="curly-bracket">(</span>
	</div>
	<div class="fields" *ngFor="let prop of objectProperties()" [ngClass]="{hidden: collapsed}">
		<div *ngIf="isArray(object[prop])">
			<div class="field-name">
				<assess-popup class="indent" [icon]="'fa-cog'" [options]="getOptionsForProperty(prop)"></assess-popup>
				<span class="static-field-name" *ngIf="isInteger(prop)">
					{{prop}}&nbsp;:&nbsp;
				</span>
				<span *ngIf="!isInteger(prop)">
					<input assess-adjusting-input type="text" [value]="prop" (change)="updateKey(prop, $event)"/>&nbsp;:&nbsp;
				</span> 
				<span class="square-bracket">[</span>
			</div>
			<assess-object-renderer [bracketIndex]="bracketIndex + 1" class="indent-double" [object]="object[prop]"></assess-object-renderer> 	
			<span class="square-bracket indent-double">]</span>
		</div>
		<div *ngIf="isObject(object[prop])">
			<div class="field-name">	
				<assess-popup class="indent" [icon]="'fa-cog'" [options]="getOptionsForProperty(prop)"></assess-popup>
				<span class="static-field-name" *ngIf="isInteger(prop)">
					{{prop}}&nbsp;:&nbsp;
				</span>
				<span class="indent" *ngIf="!isInteger(prop)">
					<input assess-adjusting-input type="text" [value]="prop" (change)="updateKey(prop, $event)"/> : 
				</span>
				<span class="curly-bracket">(</span>
			</div>
			<assess-object-renderer [bracketIndex]="bracketIndex + 1" class="indent-double" [object]="object[prop]"></assess-object-renderer> 	
			<span class="curly-bracket indent-double">}</span>
		</div>
		<div *ngIf="!isArray(object[prop]) && !isObject(object[prop])">
			<div class="field-name">
				<assess-popup class="indent" [icon]="'fa-cog'" [options]="getOptionsForProperty(prop)"></assess-popup>		
				<span *ngIf="!isInteger(prop)">
					<input assess-adjusting-input class="field-value" type="text" [value]="prop" (change)="updateKey(prop, $event)"/> : 
				</span>
				<span class="static-field-name" *ngIf="isInteger(prop)">
					{{prop}} : 
				</span>
				<span>
					<input assess-adjusting-input  class="field-value {{getColorForType(prop)}}" type="text" name="prop" [value]="object[prop]" (change)="object[prop] = $event.target.value"/> 
					<assess-popup [icon]="'fa-magic'" [options]="getCompletionsForProperty(prop)"></assess-popup>		
				</span>
			</div>
		</div>
	</div>
	<div *ngIf="isRootElement" >
			<span *ngIf="isArray(object)" class="curly-bracket">]</span>
		<span *ngIf="isObject(object)" class="curly-bracket">)</span>
	</div>
</div>