<h1>Assets</h1>
<div *ngIf="assetService.schema != null">
	<div class="asset-group" *ngFor="#assetTypeName of assetService.schema.assetTypeNames"> 
		<div class="asset-type-title"><span>{{assetService.schema.assetTypes[assetTypeName].name}}s</span></div> 
		<table class="asset-group-table" cellpadding=0 cellspacing=0>
			<thead>
    			<tr assess-asset-header [assetType]="assetService.schema.assetTypes[assetTypeName]"></tr>
			</thead>
			<tbody>
    			<tr assess-asset *ngFor="#asset of assetService.assetsForType(assetTypeName)" [asset]="asset"></tr>
    		</tbody>
		</table>
		<button class="new-asset-btn" (click)="assetService.addAsset(assetTypeName)">New</button>
	</div>
</div>